<div>
    <br/>
    <br />

    <div id="body" style="float:left;">

    </div>
    <div id="buybag" style="float:left">

    </div>
</div>
<div style="clear:both;">

</div>
<script src="~/Scripts/OrderScript.js"></script>